/******************************************************************
Site Name:  Adam Hayes
Site URI: http://mrahayes.com
Author:  ap-o
Author URI: http://www.ap-o.om

Stylesheet: Desktop Stylesheet
******************************************************************/

body {
   
}

#preloader{
 	position:fixed;
}

#main{
	
}


/*
 *
 * Main Menu
 *
 */
#top-menu-view{
 	display:block;
 	position:fixed;
 	width:100%;
 	top:0;
 	z-index:100;
}

#main-menu{
 	display:block;
 	position:absolute;
 	width:100%;
 	background-color:@white;
 	height:65px;
 	z-index:110;
	.noselect;

	a.menu-item {
		font-family:@bold;
		margin-right:30px;
		font-size:24px;
		line-height:65px;
		color:@black;
		text-decoration:none;
	}

}

#logo{
	position:absolute;
	width: 175px;
	height: 37px;
	z-index:115;
	right:20px;
	margin-top: 14px;
	background: url('/images/adam_hayes_logo.png') no-repeat;
}
#categories-menu{
 	display:block;
 }

/*
 *
 * About View
 *
 */
#about-view{
 	z-index:90;
 	position:fixed;
}


/*
 *
 * Thumbs Grid
 *
 */
#thumbs-grid-view{
	z-index:10;
	top:110px;
}


#thumbs-container{
	
}

/*
 *
 * Project View
 *
 */
#project-view{
	position:fixed;
}




