/******************************************************************
Site Name:  Adam Hayes
Site URI: http://mrahayes.com
Author:  ap-o
Author URI: http://www.ap-o.om

Stylesheet: Retina Screens & Devices Stylesheet
******************************************************************/

#logo{
	background: url('/images/adam_hayes_logo_2x.png') no-repeat;
	background-size: 175px 37px;
}
