/******************************************************************
Site Name:  Adam Hayes
Site URI: http://mrahayes.com
Author:  ap-o
Author URI: http://www.ap-o.om

Stylesheet: Tablet & Small Desktop Stylesheet
******************************************************************/



/*
 *
 * Main Menu
 *
 */
#top-menu-view{
	position:absolute;
 	width:100%;
 	z-index:100;
}

#main-menu{
 	display:block;
 	position:absolute;
 	width:100%;
 	background-color:@white;
 	height:65px;
 	z-index:110;
 	padding-left: 30px;
	.noselect;

	a.menu-item {
		font-family:@bold;
		margin-right:30px;
		font-size:24px;
		line-height:65px;
		width:auto;
		display:inline;
		color:@black;
		text-decoration:none;
	}

}

#logo{
	display:block;
	position:absolute;
	width: 175px;
	height: 37px;
	z-index:115;
	right:20px;
	margin-top: 14px;
	background: url('/images/adam_hayes_logo.png') no-repeat;
}

#categories-menu{
 	display:block;
 }

 #thumbs-container{
	top:110px;
}

/*
 *
 * Project View
 *
 */
#project-view{
	display:block;
 	position:absolute;
	overflow:hidden;
	width:100%;
	z-index:150;
}

.single-proj{
	overflow: hidden;
	
	.arrow-next{
		.scale(1,1);
	}

	.arrow-prev{
		.scale(1,1);
	}


}