/******************************************************************
Site Name:  Adam Hayes
Site URI: http://mrahayes.com
Author:  ap-o
Author URI: http://www.ap-o.om

Stylesheet: Base Mobile Stylesheet
******************************************************************/
#seo{
	display: none;
}
#seo img{
	width:40px;
	height:auto;
}

/*********************
GENERAL STYLES
*********************/

body {
	font-family: @museobook;
	font-size: 14px;
	line-height: 18px;
	font-weight:100;
	font-style:normal;
	background-color:@white;
	color: @black;
	overflow-y: scroll;
	overflow-x:hidden;
}

p{
	margin-bottom: 1em;
}

h2{
	font-size:21px;
	line-height: 30px;
	font-family: @bold;
	margin-bottom:1em;
	font-style:normal;
	font-weight:200;
}


img{
	display:block;
	
}



svg{
	margin:0;
	padding:0;
	line-height:0;
	display:block;
}

::selection {
	background: #000000; /* Safari */
	color: #ffffff;
	}
::-moz-selection {
	background: #000000; /* Firefox */
	color: #ffffff;
}



/*
 * Preloader
 */
#preloader{
 	position:absolute;
 	z-index:200;
 	width:1px;
  	height:1px;
  	top:50%;
 	left:50%;
 	pointer-events:none;
 	display:block;
 	.autoalpha;
 	
 }

 




/*
 *
 * Main
 *
 */
#main{
	position:relative;
	width:100%;
	overflow:hidden;
	height:0;
}




/*
 *
 * Main Menu
 *
 */
#top-menu-view{
	position:absolute;
 	width:100%;
 	z-index:100;
 	background-color:@white;

}

#main-menu{
 	display:block;
 	position:relative;
 	padding-left: 0px;
 	width:100%;
 	background-color:@white;
 	height:65px;
 	z-index:110;
	.noselect;

	a.menu-item {
		font-family:@bold;
		width: 33%;
		display:inline-block;
		margin-right:0px;
		color:@black;
		font-size:24px;
		line-height:65px;
		text-decoration:none;
		text-align:center;
	}

}

#logo{
	display:none;
	position:relative;
	width: 175px;
	height: 37px;
	margin:0 auto;
	margin-top: 8px;
	background: url('/images/adam_hayes_logo.png') no-repeat;
	cursor: pointer;
}

#categories-menu{
 	display:none;
 	position:absolute;
 	width:100%;
 	height:50px;
 	z-index:105;
 	top:60px;
 	.noselect;

 	a.category-item{
		margin-right:20px;
		line-height:56px;
		color:@white;
		text-decoration:none;
		&:hover,
		&.selected{
			text-decoration:underline;
		}
	}
}




/*
 *
 * About View
 *
 */

#about-view{
	display:block;
 	position:absolute;
 	z-index:90;
}


#about{
	float:left;
	font-size:21px;
	line-height: 30px;
}

#about h2{
	margin-top:3em;
}


#commissions{
	float:left;
	
	h2{
		margin-top:0;
	}
	
	p strong{
		font-family:@bold;
	}
}

#contact{
	float:left;

	h2{
		margin-top:0;
	}
	
	p strong{
		font-family:@bold;
	}

}


/*
 *
 * Project Thumbs
 *
 */

#thumbs-grid-view{
	z-index:10;
}

#thumbs-container{
	top:65px;
}

.proj-thumb{
	opacity:0;
}

.proj-thumb img{
	display:block;
 	position:absolute;
 	//.opacity(0);
	.transition(opacity, 0.5s, ease-out);
}


.proj-thumb.loaded img{
	//.opacity(1);
}

.proj-thumb .thumb-info{
	display:block;
 	position:absolute;
 	background-color:#ff00ff;
 	color:@white;
 	margin:0;
 	padding:20px;
 	.noselect;
}

.thumb-info .thumb-cross{
	width:12px;
	height:12px;
}

.proj-thumb .thumb-hide-box{
	display:block;
 	position:absolute;	
}



/*
 *
 * Project View
 *
 */
#project-view{
	display:block;
 	position:absolute;
	overflow:hidden;
	width:100%;
	z-index:150;
}

.single-proj{
	overflow: hidden;

	.grid-btn{
		display:block;
		position:absolute;
		width:100px;
		height:12px;
		padding:25px;
		cursor: pointer;
		left:0;
		bottom:-7px;

		svg{
			display:block;
			float:left;
			width:16px;
			height:12px;
			margin-right:10px;
			margin-top:2px;
		}
	}

	.share-btn{
		display:block;
		position:absolute;
		width:100px;
		height:20px;
		padding:25px;
		cursor: pointer;
		left:110px;
		bottom:-15px;

		svg{
			display:block;
			float:left;
			width:18px;
			height:19px;
			margin-right:10px;
		}

		.share-links{
			background: url('/images/share_arrow.png') no-repeat;
			background-position: left center;
			visibility:hidden;
			z-index:100;
			position:absolute;
			margin-left:70px;
			margin-top:-28px;
			padding-left:9px;
			
			
			.share-box{
				padding:8px 8px 6px 9px;
				background-color: white;
				height:22px;
			

				a{
					margin-left:5px;
					height:22px;
					display:inline-block;
					text-decoration: none;
					
					img{
						display:block;
					}

					&:first-child{
						margin-left:0;
					}
				}
			}
		}

		&:hover,
		.active{

			svg{
				//fill:@hover;
			}

			width:200px;
			.share-links{
				visibility:visible;
			}

		}

	}
	
	.arrow-next{
		display:block;
		position:absolute;
		right:0;
		top:50%;
		width:17px;
		height:25px;
		padding:25px;
		margin-top:-37px;
		cursor: pointer;
		.scale(0.5,0.5);
	}

	.arrow-prev{
		display:block;
		position:absolute;
		left:0;
		top:50%;
		width:17px;
		height:25px;
		padding:25px;
		margin-top:-37px;
		cursor: pointer;
		.scale(0.5,0.5);
	}


	.info-btn{
		display:block;
		position:absolute;
		width:100px;
		height:20px;
		margin-left:24px;
		margin-top:20px;
		cursor: pointer;

		svg{
			display:block;
			float:left;
			width:12px;
			height:12px;
			margin-right:10px;
			margin-top:2px;			
		}

	}



	.info-holder{
		display:block;
		position:absolute;
		width:320-48px;
		padding:24px;
		padding-top:35px;
		margin-left:-360px;
	}

	.info-title{
		margin-bottom:10px;
	}

	.info-description{

	}

	.project-slideshow{
		position:absolute;
		display:block;
		left:50%;
		top:50%;
		opacity:0;
		visibility:hidden;
		overflow: hidden;

		.project-slide{
			opacity:0;
			visibility:hidden;
			position:absolute;
			overflow:hidden;
		
			img{
				width:100%;
				height:auto;
				cursor: pointer;
				.noselect;
			}

			iframe{
				width:100%;
				height:100%;			
			}

			.swipeOverlay{
				position:absolute;
				background-color: #000000;
				opacity:0;
				cursor: pointer;
				display:block;
				.noselect;
			}
		}

		.slideshow-nav{
			width:100%;
			height:12px;
			padding-top:19px;
			padding-bottom:19px;
			.text-center;

			.bullet{
				width:12px;
				height:12px;
				padding:5px;
				display:inline-block;
				cursor: pointer;

				svg{
					display:block;
					width:12px;
					height:12px;
				}
			}

		}	
	}


}





#blog{
	position:absolute;
	overflow:hidden;
	height:0px;
}





