/******************************************************************
Site Name:  Adam Hayes
Site URI: http://mrahayes.com
Author:  ap-o
Author URI: http://www.ap-o.om

Stylesheet: Main Stylesheet
******************************************************************/


@import "normalize.less";

@import "elements.less";
@import "mixins.less";
@import "grid.less";

/*
* BASE (MOBILE) SIZE 
*/
@import "base.less";


/*
 * BIGGER AND HORIZONTAL PHONES
*/
@media only screen and (min-width: 480px) {
	
	@import "480up.less";

} 


/*
 * TABLET & SMALLER LAPTOPS
*/
@media only screen and (min-width: 768px) {
	
	@import "768up.less";

} 


/*
 * DESKTOP 
*/
@media only screen and (min-width: 1030px) {
	
	@import "1030up.less";

} // end of media query 


/*
 * RETINA (2x RESOLUTION DEVICES)
*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-device-pixel-ratio: 1.5) {
	
	// styles in 2x.less 
	@import "2x.less"; 

} // end of media query 


/*
 * PRINT STYLESHEET
*/
@media print { 
	* { 
		background: transparent !important; 
		color: black !important; 
		text-shadow: none !important; 
		filter:none !important; 
		-ms-filter: none !important; 
	} 
	
	a, a:visited { 
		color: #444 !important; 
		text-decoration: underline; 
		
		// show links on printed pages 
		&:after { 
			content: " (" attr(href) ")"; 
		}
		
		// show title too 
		abbr[title]:after { 
			content: " (" attr(title) ")"; 
		}
	} 
	
	.ir a:after, 
	a[href^="javascript:"]:after, 
	a[href^="#"]:after { 
		content: ""; 
	} 
	
	pre, blockquote { 
		border: 1px solid #999; 
		page-break-inside: avoid; 
	} 
	
	thead { 
		display: table-header-group; 
	} 
	
	tr, img { 
		page-break-inside: avoid; 
	} 
	
	img { 
		max-width: 100% !important; 
	}
    
    @page { 
    	margin: 0.5cm;
    } 
    
    p, h2, h3 { 
    	orphans: 3; 
    	widows: 3; 
    } 
    
    h2, 
    h3 { 
    	page-break-after: avoid; 
    }
    
}