/*
Theme Name: Adam Hayes
Theme URI: http://mrahayes.com
Description: Blog theme for illustrator Adam Hayes
Author: ap-o
Author URI: http://www.ap-o.om
Version: v1
Tags: responsive, minimal 
*/


/* Reset All Styles
-------------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Global Styles
-------------------------------------------------------------------*/


/*********************
TYPOGRAPHY
*********************/

/*
font-family : "Raisonne Demibold", 'Century Gothic', Verdana, sans-serif;
*/


body{
  background: #e3e3e3;
  font-family:"Museo Sans 100", 'Helvetica Neue', Arial, sans-serif;
  color: #111111;
  font-size:14px;
  line-height:20px;
}

strong{
  font-weight: bold;
}

/* Links */

a{
  color: #111111;
  text-decoration: underline;
}

p{
  margin-bottom:10px;
}

/* Headers */


h1,h2,h3,h4,h5,h6{
  font-family : "Raisonne Demibold", 'Century Gothic', Verdana, sans-serif;
  font-weight:600;
  font-style:normal;
  margin:0;
  padding:0;
}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{
  text-decoration: none;
}

/* Main Navigation
-------------------------------------------------------------------*/

#main-nav{
  position:fixed;
  background: #FFFFFF;
  display:block;
  height:65px;
  width:100%;


}
/* F
/* Structure */

#siteWrapper{
  padding-left:60px;
  width: 600px;
  padding-top:150px;
  
}


/* Posts
-------------------------------------------------------------------*/

.postContent{
  position: relative;
}

}
.postDate {
  margin-top: -30px;
}


/* Single Post Page
-------------------------------------------------------------------*/
.post{
  padding-bottom: 40px;
  margin-bottom:40px;
  border-bottom: 1px solid #aaaaaa;
}

.post h2{
  font-family : "Raisonne Demibold", 'Century Gothic', Verdana, sans-serif;
  font-size:32px;
  line-height:20px;
  margin-bottom: 10px;
}

.post .entry-content{
  margin-top:40px;
}

#navigator{
  display:none;
}