/******************************************************************
Site Name:  Adam Hayes
Site URI: http://mrahayes.com
Author:  ap-o
Author URI: http://www.ap-o.om

******************************************************************/


/* HEADER
-------------------------------------------------------------------*/
#header{
	position:fixed;
}


/* WRAPPER
-------------------------------------------------------------------*/


#siteWrapper{
  width: 100%;
  max-width:1100px;
  padding-top:108px;
}







