/******************************************************************
Site Name:  Adam Hayes
Site URI: http://mrahayes.com
Author:  ap-o
Author URI: http://www.ap-o.om

******************************************************************/


/* HEADER
-------------------------------------------------------------------*/
#header{
	position:relative;
	width:100%;
	padding:0;
	margin-bottom:83px;

	#logo{
		float:right;
		margin-right:20px;
		margin-top:15px;
		display:block;
	}

	#main-nav {
		padding-left:30px;

		a.menu-item {
			width:auto;
			margin-right:30px;
		}
	}

}


/* POST
-------------------------------------------------------------------*/
.post{
	margin: 40px 30px 35px 30px;

	.column-left{
		float:left;
		width:45%;

		.post-content{
			padding-right:40px;

		}

	}

	.column-right{
		float:left;
		width:55%;
		margin-top:0px;
		img{
			display:block;
			width:100%;
			height:auto;
			margin-bottom:24px;
		}
	}

	.post-nav{	
		padding-right:40px;
	}

}