/******************************************************************
Site Name:  Adam Hayes
Site URI: http://mrahayes.com
Author:  ap-o
Author URI: http://www.ap-o.om

Stylesheet: Base Mobile Stylesheet
******************************************************************/




/* GENERAL
-------------------------------------------------------------------*/
body{
  background: @bg;
  font-family: @museobook;
  color: @black;
  font-size:15px;
  line-height:24px;
  opacity:0;
}

strong{
  font-weight: bold;
}

a, a:visited {
	color: @black;
	text-decoration: none;
	 text-decoration: underline;

	/* on hover */
	&:hover, &:focus {
		color: lighten(@black, 50%);
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
} // end of anchor



p{
  margin-bottom:10px;
}

/* Headers */


h1,h2,h3,h4,h5,h6{
	font-family : @bold;
	font-weight:600;
	font-style:normal;
	margin:0;
	padding:0;

	a:link{
		text-decoration: none;	
	}
	

	&a:hover{
		color: @hover;
	}

}





/* HEADER
-------------------------------------------------------------------*/

#header{
	position:relative;
	display:block;
	background: #FFFFFF;
	height:65px;
	width:100%;
	padding:15px 0 0 0;
	margin-bottom:50px;

	#logo{
		position:relative;
		width: 175px;
		height: 37px;
		margin:0 auto;
		background: url('/images/adam_hayes_logo.png') no-repeat;
		cursor: pointer;
		display:none;
	}

	#main-nav {
		display:block;
		background: #FFFFFF;
		height:65px;
		
		.noselect;

		a.menu-item {
			font-family:@bold;
			width: 32%;
			display:inline-block;
			margin-right:0px;
			color:@black;
			font-size:24px;
			line-height:65px;
			text-decoration:none;
			text-align:center;


			&.blog-item{
				height:65px;
				padding-bottom:10px;
				background: url('images/blog_item_arrow.png') no-repeat;
				background-position:center  65px ;
			}
		}
	}
}



/* WRAPPER
-------------------------------------------------------------------*/
#siteWrapper{
  width: auto;
  padding-top:0;
}





/* POST
-------------------------------------------------------------------*/
.post{
	margin: 40px 30px 35px 30px;
	border-bottom: 1px solid #aaaaaa;

	h2{
		font-size:32px;
		line-height:20px;
		margin-bottom: 10px;
	}

	.column-left{
		float:none;
		width:100%;

		.post-content{
			padding:0;
			margin-top:40px;

		}

	}

	.column-right{
		float:none;
		width:100%;
		margin-top:40px;
		img{
			display:block;
			width:100%;
			height:auto;
			margin-bottom:24px;
		}
	}

	a.more-link{
		
		margin-top:40px;

		span{
			display:inline-block;
			text-decoration: none;

		}
		
	}

	.post-nav{	
		margin-top:40px;	
		.prev{
			float:left;
			span{
				display:inline-block;
				text-decoration: none;
			}
		}
		.next{
			float:right;
			span{
				display:inline-block;
				text-decoration: none;
			}
		}
	}

	.share{
		margin-top:40px;
		width:83px;
		overflow:visible;
		height:30px;
		cursor:pointer;
		.icon-share{
			float:left;
			svg{
				margin-top:2px;
				width:18px;
				height:18px;
			}
		}

		.share-text{
			margin-left:10px;
			float:left;
			font-family:@bold;
			font-weight:600;
			font-style:normal;
			font-size:16px;
		}	

		.share-links{
			background: url('images/share_arrow.png') no-repeat;
			background-position: left center;
			visibility:hidden;
			z-index:100;
			position:absolute;
			margin-left:85px;
			margin-top:-9px;
			padding-left:9px;
			
			
			.share-box{
				padding:10px 12px 4px 12px;
				background-color: white;
			

				a{
					display:inline-block;
					text-decoration: none;

					&:first-child{
						margin-left:0;
					}
				}
			}
		}

		&:hover,
		.active{

			svg{
				fill:@hover;
			}

			width:200px;
			.share-links{
				visibility:visible;
			}

		}

		&.mobile:hover{
			
			.share-links{
				visibility:hidden;
			}
		}

		&.mobile.active{
			
			.share-links{
				visibility:visible;
			}
		}
	}

}



/* NAVIGATOR
-------------------------------------------------------------------*/
#navigator{
  display:none;
}








