/******************************************************************
Site Name:  Adam Hayes
Site URI: http://mrahayes.com
Author:  ap-o
Author URI: http://www.ap-o.om

Stylesheet: Mixins & Constants Stylesheet
******************************************************************/

/*********************
CLEARFIXIN'
*********************/

/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */ 
.clearfix { 
	clear: both;
	/* for IE */
	zoom: 1; 
}

/*

/*********************
COLORS
*********************/
@bg             : #e3e3e3;
@white          : #FFFFFF;
@black          : #111111;
@grey 			    : #e5e5e5;

@hover          : lighten(@black, 50%);
/*********************
TYPOGRAPHY
*********************/

@museobook                  : "Museo Sans 100", 'Helvetica Neue', Arial, sans-serif;
@bold                       : "Raisonne Demibold", 'Century Gothic', Verdana, sans-serif;






/* text alignment */
.text-left   { text-align: left; }
.text-center { text-align: center; }
.text-right  { text-align: right; }

.noselect { 
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -moz-user-drag: none;
    -webkit-user-drag: none;
}


/* =============================================================================
  TRANSITION
   ========================================================================== */

/* .transition(all,2s); */
.transition(@what: all, @time: 0.2s, @transition: ease-out) {
  -webkit-transition: @what @time @transition;
  -moz-transition:    @what @time @transition;
  -ms-transition:     @what @time @transition;
  -o-transition:      @what @time @transition;
  transition:         @what @time @transition;
}


/* =============================================================================
  TRANSFORM
   ========================================================================== */
.transform(@skew: 5deg, @rotate: 5deg) {
   -webkit-transform: skew(@skew) rotate(@rotate);  
    -moz-transform: skew(@skew) rotate(@rotate);  
    -ms-transform: skew(@skew) rotate(@rotate);  
    -o-transform: skew(@skew) rotate(@rotate);  
    transform: skew(@skew) rotate(@rotate);  
}

