#wp-admin-bar-comments{
	display:none;
}

#wp-admin-bar-new-content{
	display:none;
}

.acf-image-uploader .has-image{
	background-color: #e5e5e5;
}

#minor-publishing-actions{
	display:none;
}

#visibility.misc-pub-section{
	display:none;
}
.misc-pub-section.curtime{
	display:none;
}